@mixin fade($direction: 'out') {
	@if $direction == 'out' {
		visibility: hidden;
		opacity: 0;
		transition: visibility 1s, opacity 1s;
	} @else if $direction == 'in' {
		visibility: visible;
		opacity: 1;
		transition: visibility 1s, opacity 1s;
	}
}

@mixin spin($r: 360deg) {
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate($r);
		}
	}
}

@mixin fadeInOut($min: 0, $max: 1) {
	@keyframes fadeinout {
		0%,
		100% {
			opacity: $min;
		}
		50% {
			opacity: $max;
		}
	}
}
