$color--blue: #9ee4fa;
$color--blue-dark: #78c4ee;

$color--white: #ffffff;
$color--light: #f7f8f7;
$color--dark: #262b35;

$color--green: #a1fda5;
$color--green-dark: #7be492;

$color--pink: #ffb1e3;
$color--pink-dark: #ea83c5;

$color--purple-lightest: #f6f1ff;
$color--purple-lighter: #ede2ff;
$color--purple-light: #baa5db;
$color--purple: #b598ff;
$color--purple-dark: #9a79ed;

$color--yellow: #ffe978;
$color--yellow-dark: #fac766;
