// Slate - gray
$color--slate-lighter: #dcdee1;
$color--slate-light: #a2a6af;
$color--slate: #737a87;
$color--slate-dark: #162137;

// Magnolia - light purple
$color--light-purple-light: #f4f0ff;
$color--light-purple: #ece5ff;
$color--light-purple-dark: #baa5db;

// Lavender - purple
$color--purple-light: #dbccff;
$color--purple: #b598ff;
$color--purple-dark: #9a79ed;

// Sky - blue
$color--blue-light: #d8f4fd;
$color--blue: #9ee4fa;
$color--blue-dark: #78c4ee;

// Spring - green
$color--green-light: #d9fedb;
$color--green: #a1fda5;
$color--green-dark: #7be492;

// Bubble Gum - pink
$color--pink-light: #ffd8f1;
$color--pink: #ffb1e3;
$color--pink-dark: #ea83c5;

// Sunrise - yellow
$color--yellow-light: #fff5bc;
$color--yellow: #ffe978;
$color--yellow-dark: #fac766;

// Shades
$color--white: #ffffff;
$color--black: $color--slate-dark;
