@use './sizes';

$font-weight--thin: 100;
$font-weight--extra-light: 200;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;
$font-weight--black: 900;

$font-size--10: sizes.$size--10;
$font-size--12: sizes.$size--12;
$font-size--14: sizes.$size--14;
$font-size--default: $font-size--14;
$font-size--16: sizes.$size--16;
$font-size--18: sizes.$size--18;
$font-size--20: sizes.$size--20;
$font-size--24: sizes.$size--24;
$font-size--28: sizes.$size--28;
$font-size--32: sizes.$size--32;
$font-size--36: sizes.$size--36;

$font-family--serif: 'Suisse Works', 'Times New Roman', Times, serif;
$font-family--sans: 'Suisse Intl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--default: $font-family--sans;
$font-family--mono: 'Suisse Mono', 'Courier New', Courier, monospace;

$font--xsmall: normal $font-weight--normal #{$font-size--10}/ 130% $font-family--default;
$font--xsmall-bold: normal $font-weight--bold #{$font-size--10}/ 130% $font-family--default;
$font--small: normal $font-weight--normal #{$font-size--12}/ 130% $font-family--default;
$font--default: normal $font-weight--normal #{$font-size--14}/ 140% $font-family--default;
$font--medium: $font--default; // alias
$font--default-bold: normal $font-weight--bold #{$font-size--14}/ 140% $font-family--default;
$font--medium-bold: $font--default-bold; // alias
$font--large: normal $font-weight--normal #{$font-size--16}/ 140% $font-family--default;
