@use './sizes';

$font-size--10: sizes.$size--10;
$font-size--12: sizes.$size--12;
$font-size--14: sizes.$size--14;
$font-size--default: $font-size--14;
$font-size--16: sizes.$size--16;
$font-size--18: sizes.$size--18;
$font-size--20: sizes.$size--20;
$font-size--24: sizes.$size--24;
$font-size--28: sizes.$size--28;
$font-size--32: sizes.$size--32;
$font-size--36: sizes.$size--36;

$font-family--serif: 'Suisse Works', 'Times New Roman', Times, serif;
$font-family--sans: 'Suisse Intl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--default: $font-family--sans;
$font-family--mono: 'Suisse Mono', 'Courier New', Courier, monospace;

$font--xsmall: normal normal #{$font-size--10}/ 130% $font-family--default;
$font--xsmall-bold: normal bold #{$font-size--10}/ 130% $font-family--default;
$font--small: normal normal #{$font-size--12}/ 130% $font-family--default;
$font--default: normal normal #{$font-size--14}/ 140% $font-family--default;
$font--medium: $font--default; // alias
$font--default-bold: normal bold #{$font-size--14}/ 140% $font-family--default;
$font--medium-bold: $font--default-bold; // alias
$font--large: normal normal #{$font-size--16}/ 140% $font-family--default;
