@use './functions.scss';

$font-percentage: 62.5%;

$font-family--serif: 'Suisse Works', 'Times New Roman', Times, serif;
$font-family--default: 'Suisse Intl', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font--xsmall: normal normal 1rem/130% $font-family--default;
$font--xsmall-bold: normal bold 1rem/130% $font-family--default;
$font--small: normal normal 1.2rem/130% $font-family--default;
$font--default: normal normal 1.4rem/140% $font-family--default;
$font--medium: $font--default; // alias
$font--default-bold: normal bold 1.4rem/140% $font-family--default;
$font--medium-bold: $font--default-bold; // alias
$font--large: normal normal 1.6rem/140% $font-family--default;


@mixin load-suisse-font($family:"intl", $weight:"regular") {

	$path: '@surveyplanet/styles/src/fonts/suisse/' + $family + '/' + $weight;
	$name: 'Suisse ' + capitalize($family);

	@if $weight != 'regular' {
		$name: $name + ' ' + capitalize($weight);
	}
	
	@font-face {
		font-family: $name;
		src: url($path + ".woff2") format('woff2'), /* Modern browsers */
			url($path + ".woff") format('woff'), /* Best support */
			url($path + ".ttf") format('truetype'); /* Safari, Android, iOS */
	}
}