// pixels / 16 = rem

$gutter--quadruple: 25.6rem; //256px;
$gutter--triple: 8rem; //128px;
$gutter--double: 4rem; //64px
$gutter: 2rem; //32px
$gutter--half: 1rem; //16px
$gutter--quarter: 0.5rem; // 8px
$gutter--eighth: 0.25rem; // 4px
$gutter--sixteenth: 0.125rem; // 2px
