@use './fonts.scss' as *;
@use './colors.scss' as *;

// private member (begins with -)
$-font-percentage: 62.5%;

html {
	font-size: $-font-percentage;
}

body {
	font: $font--default;
	text-rendering: optimizeLegibility;
	color: $color--dark;
}
